!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="viewport" content="width=device-width, initial-scale=1")  

    :css
      #fixed {
      top: 0;
      left: 0;
      width: 100%;
      position: fixed;
      background-color: yellow;
      text-align: center;
      }
%body
  %h1 Lorem Ipsum
  
  #fixed Example of fixed element
  
  .container
    %div
      %h2 Chapter 1
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque condimentum varius neque, nec porta lacus laoreet non. Donec at mi non ante ornare elementum. Aenean fringilla tincidunt vestibulum. In in ipsum eget quam tempor aliquet. Aliquam placerat mauris ac odio aliquam posuere. Aliquam mattis auctor consectetur. Proin condimentum felis sit amet magna venenatis mollis. Donec nulla leo, viverra ut interdum at, vehicula at magna. Curabitur mauris orci, rhoncus ut congue quis, tincidunt et risus. Pellentesque vitae metus quam. Praesent sollicitudin tincidunt dolor, ac suscipit arcu suscipit et. Duis venenatis purus ut magna consequat facilisis. In dolor quam, feugiat non iaculis id, aliquet a neque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla quis nisi est.
    %div
      %h2 Chapter 2
      %p Aliquam erat volutpat. Mauris consectetur ante eget tellus fermentum blandit. Fusce ac massa dolor, non vestibulum dolor. Maecenas in ligula nulla. Nunc convallis pharetra urna id hendrerit. Etiam porttitor nunc eget lorem faucibus varius. Morbi ut nulla eros, sed vehicula sapien. Nunc mauris dui, posuere ac porta non, imperdiet ut tortor. Nam dui elit, egestas ut lobortis et, facilisis eget quam. Integer quis sapien vel arcu ultrices luctus ut ut augue. Fusce at ante in nibh suscipit feugiat. Quisque at sem turpis, id lacinia justo. Curabitur molestie suscipit neque. Vestibulum aliquet, odio in placerat hendrerit, arcu nulla mattis dolor, a pellentesque turpis dui sit amet tortor. Donec adipiscing odio at leo consectetur quis dictum mauris bibendum. Pellentesque volutpat orci sit amet erat molestie blandit.
