%div(data-role="footer" data-position="fixed")
  %div(data-role="navbar")
    %ul
      %li
        %a(href="#home" id="refresh" ) Refresh
      %li
        %a(href="#home" id="save") Save
      %li
        %a(href="#saved" id="show") Show
