%div(data-role="footer" data-position="fixed")
  %div(data-role="navbar")
    %ul
      %li
        %a(href="/" data-ajax="false") Posts
      %li
        %a(href="#new" data-transition="flip") New Entry
