%div(data-role = "header" data-position="inline")
  %a(href = "#home" data-icon="delete" data-rel="back") Cancel
  %h1 Options
  %a(href = "#home" data-icon="check" data-theme="b" id="saveOpt" data-rel="back") Save
  
%div(data-role="content")
  %form
    %input(type = "text" name="name" id="optName" placeholder="Name")
    %input(type = "email" name="email" id="optEmail" placeholder = "Email")              
