%script(id="articles" type="text/x-handlebars-template")
  %ul(data-role = "listview")
    {{#articles}}  
    %li
      %p.ui-li-aside
        {{timestamp}}
      %h3(contenteditable="true" data-name="title" data-id='{{id}}') 
        {{title}}
      %p
        %strong
          {{email}}
      %p(contenteditable="true" data-name="content" data-id='{{id}}')
        {{content}}
    {{/articles}}
