%div(data-role="footer" data-position="fixed")
  %div(data-role="navbar")
    %ul
      %li
        %a(href="/" data-icon="home") Posts
      %li
        %a(href="#home"  data-icon="refresh" id="refresh") Refresh
      %li
        %a(href="#new" data-transition="flip" data-icon="plus") New Entry
