!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title
      New Input Types
  %body
    %h1 New Input Types
    %form
      %input(type = 'email' value="someone@email.com")
      %input(type = 'range' min='0' max='50' value='10')

