!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0, maximum-scale=1.0;")
    %script(type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js")
 
    %title
      Touch Events
    :javascript
      $(function() {
        var body = $('body')[0];
        body.width = $(window).width();
        body.height = $(window).height();

        $(document).bind('mousedown mouseup mousemove mouseover mouseout keydown keypress keyup touchstart touchmove touchend click', function(e) {
          $(".console").append(e.type + '<br>');
        });
      });
    
  %body
    %div.console
