%div(data-role="footer" data-position="fixed")
  %div(data-role="navbar")
    %ul
      %li
        %a(href="/" data-icon="home") Home
      %li
        %a(href="#home"  data-icon="plus" id="fileSelect") Add
      %li
        %a(href="#home"  data-icon="arrow-u" id="upload") Upload
