%form
  %input(type = "text" name="title" id="title" placeholder="Post Title" required)
  %textarea(name="content" rows = "5" placeholder = "Content" id="content")
  %a(href="#home" data-role="button" id="postEntry") Post
