!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="viewport" content="width=device-width, initial-scale=1")  
    %link(rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css")
    %script(type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js")
    %script(type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js")
    %script(src="http://js.pusher.com/1.11/pusher.min.js")
    %title
      WebSockets Drawing
  %body
    :javascript
      $(function() {
        var pusher = new Pusher('8dc1dcd216474ec35b02'); 
        var drawChannel = pusher.subscribe('draw');
        
        var currentX = 0;
        var currentY = 0;
        var lastX;
        var lastY;
        var lastReceivedX;
        var lastReceivedY;
        
        var ctx = $('#canvas')[0].getContext('2d');

        $('#canvas').bind('vmousemove',function(ev){
          ev = ev || window.event;
          currentX = ev.pageX || ev.clientX;
          currentY = ev.pageY || ev.clientY;
        });
        
        setInterval(function(){
          if(currentX !== lastX || currentY !== lastY){
            lastX = currentX;
            lastY = currentY;
            //channel.trigger("client-mouse-moved", {x:currentX, y: currentY});
            $.post( 'http://localhost:4567/move',{x:currentX, y: currentY},'json');
          }
        }, 300); // send every 300 milliseconds if position has changed

        drawChannel.bind('move', function(msg) {
            ctx.beginPath();
            ctx.moveTo(lastReceivedX,lastReceivedY);
            ctx.lineTo(msg.x,msg.y);
            ctx.closePath();
            ctx.stroke();
            lastReceivedX = msg.x;
            lastReceivedY = msg.y;
        });
      });

    %div(data-role="page")
      %canvas#canvas(width='1000' height='1000')

        
            
