!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="viewport" content="width=device-width, initial-scale=1")  
    %link(rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css")
    %script(type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js")
    %script(type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js")
    %title
      WebSockets Drawing
  %body
    :javascript
      var WebSocket = window.WebSocket || window.MozWebSocket;

      $(function() {

        var socket = new WebSocket("ws://" + location.hostname + ":8080");
        
        var currentX = 0;
        var currentY = 0;
        var lastX;
        var lastY;
        var lastReceivedX;
        var lastReceivedY;
        
        var ctx = $('#canvas')[0].getContext('2d');

        $('#canvas').bind('vmousemove',function(ev){
          ev = ev || window.event;
          currentX = ev.pageX || ev.clientX;
          currentY = ev.pageY || ev.clientY;
        });
        
        socket.onopen = function(event) {
          setInterval(function(){
            if(currentX !== lastX || currentY !== lastY){
              lastX = currentX;
              lastY = currentY;
              socket.send( JSON.stringify({x:currentX, y: currentY}) );
            }
          }, 30); // send every 300 milliseconds if position has changed
        }
        socket.onmessage = function(event) {
          var msg = $.parseJSON(event.data);
          
          ctx.beginPath();
          ctx.moveTo(lastReceivedX,lastReceivedY);
          ctx.lineTo(msg.x,msg.y);
          ctx.closePath();
          ctx.stroke();
          lastReceivedX = msg.x;
          lastReceivedY = msg.y;
        }
      });

    %div(data-role="page")
      %canvas#canvas(width='1000' height='1000')

        
            
