!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="viewport" content="width=device-width, initial-scale=1")  
    %title
      WebSockets Echo
  %body
    :javascript
        var socket = new WebSocket('ws://echo.websocket.org/echo');
        
        
        socket.onopen = function(event) { 
          socket.send('hello');
        };
        socket.onmessage = function(event) {
          alert(event.data);
        }
      
