!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="viewport" content="width=device-width, initial-scale=1")  
    %link(rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css")
    %script(type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js")
    %script(type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js")
    %script(src="http://js.pusher.com/1.11/pusher.min.js")
    %title
      WebSockets Chat
  %body
    :javascript
      $(function() {
        var pusher = new Pusher('8dc1dcd216474ec35b02'); 
        var chatChannel = pusher.subscribe('chat');

        chatChannel.bind('say', function(msg) {
          $('#console').prepend('<p>' + msg.timestamp + ' <strong>' + msg.nickname + '</strong>: ' + msg.message + '</p>');
        });
        
        $('#send').click(function(event) {
          event.preventDefault();
          var msg = {nickname: $('#nickname').val(), message: $('#message').val()};
          
          $.post( 'http://' + location.host + '/say',msg,'json');
          $('#message').val("");
        })  
      });

    %div(data-role="page")
      %div(data-role = "header")
        %h1 Simple Chat
      %input#nickname(type="text" value="" placeholder="Nickname")
      %input#message(type='text' value="" placeholder="Start chat here")
      %a#send(data-role = 'button')
        Send
      
      #console

        
            
